.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    position: relative;
    width: 85%;
    height: 180px;
    background-color: rgb(255, 255, 255, 0.5);
}

.btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: #fa0c0c;
    color: white;
    background-color: #fa0c0c;
}

.btn:hover {
    border-color: #ff4545;
    color: white;
    background-color: #ff4545;
    cursor: pointer;
}

.cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-decoration: none;
    color: #1a1a1a;
}

.cityName {
    grid-column: 1 / span 3;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.weather {
    display: flex;
    flex-direction: column;
}

.weatherTitle {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.weatherTemp {
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (max-width: 600px){ 
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-style: solid;
        border-width: 0px;
        border-radius: 10px;
        position: relative;
        width: 90%;
        background-color: rgb(255, 255, 255, 0.5);
    }

    .cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-decoration: none;
        color: #1a1a1a;
    }
}