.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 5px;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #e8e8e8;
    font-weight: 500;
}

.brand {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
    .links {
        margin: 15px;
        align-self: flex-start;
    }
}